<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821467863605-2e3js4pglitru6e4saqa41lnf3qmm6oo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821467863605-2e3js4pglitru6e4saqa41lnf3qmm6oo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>821467863605-ktan97q8i08pod0kldli5htjel72corb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoZvgfi9cUQzEAf4qS3lUVQ6fKvS2pfW4</string>
	<key>GCM_SENDER_ID</key>
	<string>821467863605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fashionApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-60722</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-60722.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821467863605:ios:8873990320948c7322ef7c</string>
</dict>
</plist>